* {
    margin: 0;
    padding: 0;
}

#root {
    height: 100vh;
    width: 100vh;
}

body {
    background-color: #6495ED;
    box-sizing: border-box;
    height: 100%vh;
    width: 100vw;
    font-family: Roboto, sans-serif;
}